.DS_Store
.idea/
.ipynb_checkpoints/
__pycache__/
data/florida/twitter/*
data/florida/pickle/*
data/nyc/twitter/*
data/nyc/pickle/*
data/givenchy/twitter/*
data/givenchy/pickle/*
data/hawking/twitter/*
data/hawking/pickle/*
other/
nohup.out
twitter_keys.csv
